<a href="https://colab.research.google.com/github/Anmolkr1909/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

---



---

  #   101) Student Marks Record System for a School


*  You are a school data entry operator
*  You have been given the marks of 5 students in 3 subjects
*  Task is :

    1) Store the data properly

    2) Check if it’s correctly entered

      3) Show summary for school performance


*  School principal wants a summary report:

   1) First few records for checking

    2) Column names and data types

     3) Statistics like average, min, max marks in each subject

In [ ]:
import pandas as pd

#Data Entry  Marks given by teachers
student_data = {
    'Student Name': ['Anmol Maddeshiya', 'Riya Singh', 'khan sir', 'Priya Verma', 'Amit Patel'],
    'Math Marks': [88, 92, 79, 85, 90],
    'Science Marks': [84, 95, 80, 86, 88],
    'English Marks': [90, 89, 78, 80, 85]
}

#Store in a DataFrame (like an Excel table)
df = pd.DataFrame(student_data)
print(pd.DataFrame(student_data))

# Print first 3 records to verify entries
print("First 3 Student Records:")
print(df.head(3))  # School admin checking first few entries

#Show structure and types of data (like quality check)
print("\nDataFrame Info:")
print(df.info())

#Show subject-wise summary (school report)
print("\nSubject-wise Summary Statistics:")
print(df.describe())

       Student Name  Math Marks  Science Marks  English Marks
0  Anmol Maddeshiya          88             84             90
1        Riya Singh          92             95             89
2          khan sir          79             80             78
3       Priya Verma          85             86             80
4        Amit Patel          90             88             85
First 3 Student Records:
       Student Name  Math Marks  Science Marks  English Marks
0  Anmol Maddeshiya          88             84             90
1        Riya Singh          92             95             89
2          khan sir          79             80             78

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student Name   5 non-null      object
 1   Math Marks     5 non-null      int64
 2   Science Marks  5 non-null      int64
 3   English Marks  5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None

Subject-wise Summary Statistics:
       Math Marks  Science Marks  English Marks
count    5.000000       5.000000       5.000000
mean    86.800000      86.600000      84.400000
std      5.069517       5.549775       5.319774
min     79.000000      80.000000      78.000000
25%     85.000000      84.000000      80.000000
50%     88.000000      86.000000      85.000000
75%     90.000000      88.000000      89.000000
max     92.000000      95.000000      90.000000



---

 #  102) Student Report Query System for School Portal

*  You're building a backend for a school web portal. Teachers use it to:

   1) Fetch individual student marks

    2) View marks of specific subjects

    3) Display custom reports (first 3 students, only names & Science)

    4) Access specific subject for a specific student

    5) Preview all student names and English marks
*   Mimic real school queries

In [ ]:
import pandas as pd

#student Data
data = {
    'Student Name': ['Anmol Maddeshiya', 'Riya Singh', 'Kajal', 'Priya Verma', 'Amit Patel'],
     'Math':  [88, 92, 79, 85, 90],
     'Science': [84, 95, 80, 86, 88],
     'English': [90, 89, 78, 80, 85]
}

df =  pd.DataFrame(data)
print(pd.DataFrame(data))

# Select a single column (like English marks of all students)
print("English Marks of All Students:")
print(df['English'])

# Select multiple columns (Math and Science)
print("\nMath & Science Marks:")
print(df[['Math', 'Science']])

# Select row by label using loc (get all info of 'Riya Singh')
print("All Details of Student at Index 1 (Riya Singh):")
print(df.loc[1])  # 1 is index of Riya

# Select value by label: English marks of  Kajal (index 2)
print("\n English Marks of kajal:")
print(df.loc[2, 'English'])

# Select value by position using iloc: Science marks of Priya Verma
print("\nScience Marks of Priya Verma (index 3):")
print(df.iloc[3, 2])  # Row 3, Column 2 (Science)

# Select all students and only English column using loc
print("\nAll Students - Only English Marks:")
print(df.loc[:, 'English'])

#Select first 3 students' names and their Math marks using iloc
print("\n First 3 Students - Names & Math Marks:")
print(df.iloc[0:3, [0, 1]])  # Rows 0 to 2, Columns 0 (name) and 1 (math)

       Student Name  Math  Science  English
0  Anmol Maddeshiya    88       84       90
1        Riya Singh    92       95       89
2             Kajal    79       80       78
3       Priya Verma    85       86       80
4        Amit Patel    90       88       85
English Marks of All Students:
0    90
1    89
2    78
3    80
4    85
Name: English, dtype: int64

Math & Science Marks:
   Math  Science
0    88       84
1    92       95
2    79       80
3    85       86
4    90       88
All Details of Student at Index 1 (Riya Singh):
Student Name    Riya Singh
Math                    92
Science                 95
English                 89
Name: 1, dtype: object

 English Marks of kajal:
78

Science Marks of Priya Verma (index 3):
86

All Students - Only English Marks:
0    90
1    89
2    78
3    80
4    85
Name: English, dtype: int64

 First 3 Students - Names & Math Marks:
       Student Name  Math
0  Anmol Maddeshiya    88
1        Riya Singh    92
2             Kajal    79



---

# 103) "Scholarship Eligibility System" for School Admin

*   The school management wants to automatically filter students for the following:

   1) Scholarship eligibility (all subjects > 85)

   2) Re-test candidates (any subject < 80)

     3)  Top performers in Math (Math > 90)

In [ ]:
import pandas as pd

# Student data from recent exams
students = {
    'Student Name': ['Anmol Kumar', 'Riya Singh', 'Kajal', 'Priya Verma', 'Amit Patel', 'Neha Raj'],
    'Math Marks': [88, 95, 79, 85, 91, 98],
    'Science Marks': [84, 96, 80, 86, 88, 89],
    'English Marks': [90, 91, 78, 80, 85, 87]
}

# Load into DataFrame
df = pd.DataFrame(students)

#Scholarship: All subject marks > 85
print("Scholarship Eligible Students (All subjects > 85):")
scholarship_students = df[(df['Math Marks'] > 85) & (df['Science Marks'] > 85) & (df['English Marks'] > 85)]
print(scholarship_students)

# Re-test Candidates: Any subject mark < 80
print("\nRe-test Candidates (Any subject < 80):")
retest_students = df[(df['Math Marks'] < 80) | (df['Science Marks'] < 80) | (df['English Marks'] < 80)]
print(retest_students)

# Top Performers in Math: Math > 90
print("\nTop Math Performers (Math > 90):")
top_math_students = df[df['Math Marks'] > 90]
print(top_math_students)

Scholarship Eligible Students (All subjects > 85):
  Student Name  Math Marks  Science Marks  English Marks
1   Riya Singh          95             96             91
5     Neha Raj          98             89             87

Re-test Candidates (Any subject < 80):
  Student Name  Math Marks  Science Marks  English Marks
2        Kajal          79             80             78

Top Math Performers (Math > 90):
  Student Name  Math Marks  Science Marks  English Marks
1   Riya Singh          95             96             91
4   Amit Patel          91             88             85
5     Neha Raj          98             89             87




---

#  104) "UP Board Style Report Card Generator"

*   A school admin from Gorakhpur (UP) wants a system that:

*  Takes marks of students from 5 subjects

  1) Calculates:

   2) Total Marks

    3)  Percentage

      4)  Pass/Fail (Fail if any subject < 33)

*  Division:

    1)  First: ≥ 60%

     2) Second: 45–59%

      3)  Third: 33–44%

     4) Fail: < 33% or any subject failed

In [ ]:
import pandas as pd

# Student marks in 5 subjects (out of 100)
students = {
    'Student Name': ['Anmol Kumar', 'Ravi Gupta', 'Pooja Kumari', 'Deepak Singh', 'Riya Singh', 'Aman Verma'],
    'Hindi': [78, 65, 80, 35, 90, 30],
    'English': [81, 72, 45, 40, 85, 70],
    'Math': [88, 33, 55, 75, 92, 29],
    'Science': [77, 55, 67, 50, 89, 60],
    'SST': [70, 60, 40, 38, 91, 55]
}

df = pd.DataFrame(students)
print(pd.DataFrame(students))

# Total & Percentage
df['Total Marks'] = df[['Hindi', 'English', 'Math', 'Science', 'SST']].sum(axis=1)
df['Percentage'] = round(df['Total Marks'] / 5, 2)

#Pass/Fail (any subject < 33 means fail)
def check_pass(row):
    if (row['Hindi'] < 33 or row['English'] < 33 or row['Math'] < 33 or row['Science'] < 33 or row['SST'] < 33):
        return 'Fail'
    else:
        return 'Pass'

df['Result'] = df.apply(check_pass, axis=1)

# Step 4: Assign Division
def division(row):
    if row['Result'] == 'Fail':
        return 'Fail'
    elif row['Percentage'] >= 60:
        return 'First'
    elif row['Percentage'] >= 45:
        return 'Second'
    elif row['Percentage'] >= 33:
        return 'Third'
    else:
        return 'Fail'

df['Division'] = df.apply(division, axis=1)

# Step 5: Final Report Card
print("UP Board Style Report Card:")
print(df[['Student Name', 'Total Marks', 'Percentage', 'Result', 'Division']])

   Student Name  Hindi  English  Math  Science  SST
0   Anmol Kumar     78       81    88       77   70
1    Ravi Gupta     65       72    33       55   60
2  Pooja Kumari     80       45    55       67   40
3  Deepak Singh     35       40    75       50   38
4    Riya Singh     90       85    92       89   91
5    Aman Verma     30       70    29       60   55
UP Board Style Report Card:
   Student Name  Total Marks  Percentage Result Division
0   Anmol Kumar          394        78.8   Pass    First
1    Ravi Gupta          285        57.0   Pass   Second
2  Pooja Kumari          287        57.4   Pass   Second
3  Deepak Singh          238        47.6   Pass   Second
4    Riya Singh          447        89.4   Pass    First
5    Aman Verma          244        48.8   Fail     Fail



---

#  105) School Attendance Tracker


*  Topics

   1) isnull(), fillna(), dropna()

   2) pd.to_datetime()

   3) Conditional logic
   
    4) sort_values()

*  A school in Salempur(Little Flower school) is maintaining a daily attendance sheet for students. Sometimes, teachers forget to mark attendance — which leads to missing values (NaN). We need to:

*  Fill missing entries with "Absent"

   1) Convert "Date" column to proper datetime

    2) Show absent students on any given day

    3)  Sort records by date

In [ ]:
import pandas as pd

# Create attendance data with some missing entries
data = {
    'Date': ['2025-06-15', '2025-06-15', '2025-06-15',
             '2025-06-16', '2025-06-16',
             '2025-06-17'],

    'Student Name': ['Anmol Kumar', 'Ravi Gupta', 'Riya Singh',
                     'Ravi Gupta', 'Riya Singh',
                     'Anmol Kumar'],

    'Status': ['Present', None, 'Present',
               'Absent', None,
               'Present']
}

#create DataFrame
df = pd.DataFrame(data)

#convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# fill missing status entries with 'Absent'
df['Status'] = df['Status'].fillna('Absent')

# Display the full cleaned attendance sheet
print("Cleaned Attendance Sheet:")
print(df)

#Filter and display students who were absent on 2025-06-15
absent_15 = df[(df['Date'] == '2025-06-15') & (df['Status'] == 'Absent')]
print("\nStudents absent on 15th June 2025:")
print(absent_15[['Student Name']])

# Sort the DataFrame by date
sorted_df = df.sort_values(by='Date')

#display the sorted attendance
print("\nAttendance sorted by date:")
print(sorted_df[['Date', 'Student Name', 'Status']])

Cleaned Attendance Sheet:
        Date Student Name   Status
0 2025-06-15  Anmol Kumar  Present
1 2025-06-15   Ravi Gupta   Absent
2 2025-06-15   Riya Singh  Present
3 2025-06-16   Ravi Gupta   Absent
4 2025-06-16   Riya Singh   Absent
5 2025-06-17  Anmol Kumar  Present

Students absent on 15th June 2025:
  Student Name
1   Ravi Gupta

Attendance sorted by date:
        Date Student Name   Status
0 2025-06-15  Anmol Kumar  Present
1 2025-06-15   Ravi Gupta   Absent
2 2025-06-15   Riya Singh  Present
3 2025-06-16   Ravi Gupta   Absent
4 2025-06-16   Riya Singh   Absent
5 2025-06-17  Anmol Kumar  Present



---

# 106)  Class-Wise Result Analyzer (Government School,Deoria)

*   A school clerk in a Deoria (U.P) government school maintains exam results in excel

*  Reads students' marks

* Shows average, highest, and lowest marks per class

*  Shows how many students are in each class

In [ ]:
import pandas as pd

# Create sample result data for real-world scenario
data = {
    'Student Name': ['Anmol Kumar', 'Ravi Gupta', 'Riya Kumari', 'Sunita Devi', 'Shubham Jha', 'Deepak Yadav', 'Komal Singh'],
    'Class': ['10A', '10A', '10B', '10B', '10A', '10C', '10C'],
    'Marks': [72, 65, 88, 73, 54, 80, 92]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

# Group by Class and calculate average marks
average_marks = df.groupby('Class')['Marks'].mean()

# Group by Class and count students
student_count = df.groupby('Class')['Student Name'].count()

# Group by Class and find maximum marks
max_marks = df.groupby('Class')['Marks'].max()

# Group by Class and find minimum marks
min_marks = df.groupby('Class')['Marks'].min()

# Print average marks per class
print("Average Marks per Class:")
print(average_marks)

# Print number of students in each class
print("\nNumber of Students per Class:")
print(student_count)

# Print highest marks per class
print("\nHighest Marks per Class:")
print(max_marks)

# Print lowest marks per class
print("\nLowest Marks per Class:")
print(min_marks)

   Student Name Class  Marks
0   Anmol Kumar   10A     72
1    Ravi Gupta   10A     65
2   Riya Kumari   10B     88
3   Sunita Devi   10B     73
4   Shubham Jha   10A     54
5  Deepak Yadav   10C     80
6   Komal Singh   10C     92
Average Marks per Class:
Class
10A    63.666667
10B    80.500000
10C    86.000000
Name: Marks, dtype: float64

Number of Students per Class:
Class
10A    3
10B    2
10C    2
Name: Student Name, dtype: int64

Highest Marks per Class:
Class
10A    72
10B    88
10C    92
Name: Marks, dtype: int64

Lowest Marks per Class:
Class
10A    54
10B    73
10C    80
Name: Marks, dtype: int64



---

# 107) COVID Case Analysis
*  You are helping the District Health Office in Gorakhpur(UP) analyze daily
*   COVID cases from a CSV report
 *  You need to read the file, and then show:

*   Total cases by state

*  Top 5 states with the highest cases

*   Total confirmed, recovered, and death cases

In [ ]:
import pandas as pd

# Simulated COVID data ( from  CSV file)
data = {
    'State': ['Uttar Pradesh', 'Bihar', 'Delhi', 'Uttar Pradesh', 'Bihar', 'Delhi', 'Maharashtra'],
    'Date': ['2025-06-15', '2025-06-15', '2025-06-15', '2025-06-16', '2025-06-16', '2025-06-16', '2025-06-16'],
    'Confirmed': [120, 80, 300, 140, 90, 350, 400],
    'Recovered': [100, 70, 250, 120, 80, 300, 370],
    'Deaths': [5, 2, 10, 6, 3, 12, 15]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)


# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Group by State and sum all numerical columns
state_summary = df.groupby('State')[['Confirmed', 'Recovered', 'Deaths']].sum()

# Sort states by total confirmed cases in descending order
top_states = state_summary.sort_values(by='Confirmed', ascending=False)

# Print full summary per state
print("COVID Summary by State:")
print(state_summary)

# Print top 5 states with highest total confirmed cases
print("\nTop States by Confirmed Cases:")
print(top_states.head(5))

           State        Date  Confirmed  Recovered  Deaths
0  Uttar Pradesh  2025-06-15        120        100       5
1          Bihar  2025-06-15         80         70       2
2          Delhi  2025-06-15        300        250      10
3  Uttar Pradesh  2025-06-16        140        120       6
4          Bihar  2025-06-16         90         80       3
5          Delhi  2025-06-16        350        300      12
6    Maharashtra  2025-06-16        400        370      15
COVID Summary by State:
               Confirmed  Recovered  Deaths
State
Bihar                170        150       5
Delhi                650        550      22
Maharashtra          400        370      15
Uttar Pradesh        260        220      11

Top States by Confirmed Cases:
               Confirmed  Recovered  Deaths
State
Delhi                650        550      22
Maharashtra          400        370      15
Uttar Pradesh        260        220      11
Bihar                170        150       5



---

# 108) Monthly Sales Report

*   I am hired by a supermarket in Noida (NCR).
*  The manager wants to know:

   * Total sales made each month

  * Sales breakdown by product and month

  *   Which month had the highest sales

*  This is how shopkeepers, malls, and even Amazon sellers review their monthly data.

In [ ]:
import pandas as pd

# Sample sales data of a real shop
data = {
    'Date': ['2025-01-05', '2025-01-12', '2025-02-03', '2025-02-15', '2025-03-10', '2025-03-22'],
    'Product': ['Soap', 'Shampoo', 'Soap', 'Shampoo', 'Toothpaste', 'Soap'],
    'Amount': [120, 200, 150, 220, 180, 140]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

# Convert date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extract month name from date
df['Month'] = df['Date'].dt.strftime('%B')

# Create pivot table to show sales by product and month
pivot = pd.pivot_table(df, values='Amount', index='Product', columns='Month', aggfunc='sum', fill_value=0)

# Show monthly total sales
monthly_total = df.groupby('Month')['Amount'].sum()

# Show the final pivot table
print("Sales by Product and Month:")
print(pivot)

# Show total sales for each month
print("\nTotal Sales per Month:")
print(monthly_total)

         Date     Product  Amount
0  2025-01-05        Soap     120
1  2025-01-12     Shampoo     200
2  2025-02-03        Soap     150
3  2025-02-15     Shampoo     220
4  2025-03-10  Toothpaste     180
5  2025-03-22        Soap     140
Sales by Product and Month:
Month       February  January  March
Product
Shampoo          220      200      0
Soap             150      120    140
Toothpaste         0        0    180

Total Sales per Month:
Month
February    370
January     320
March       320
Name: Amount, dtype: int64



---

#  109)  Student Performance Report
*  At Gautam Buddh University in Gautam Budh Nagar, Internal marks of students are recorded for Maths, Science, and English


*  Calculate total marks
bold text
*  Assign grades (A, B, or C) based on total

In [ ]:
import pandas as pd

#marks data of students from Gautam Buddh University
data = {
    'Student Name': ['Anmol Kumar', 'Deepak Yadav', 'Riya Kumari', 'Pooja Singh'],
    'Maths': [78, 55, 92, 60],
    'Science': [82, 60, 85, 70],
    'English': [75, 52, 88, 65]
}

#create DataFrame
df = pd.DataFrame(data)

#function to calculate total marks and assign grade
def calculate_grade(row):
    total = row['Maths'] + row['Science'] + row['English']
    if total >= 250:
        grade = 'A'
    elif total >= 200:
        grade = 'B'
    else:
        grade = 'C'
    return pd.Series([total, grade])

#apply function row-wise
df[['Total Marks', 'Grade']] = df.apply(calculate_grade, axis=1)

#final student performance report
print("Student Performance Report – Gautam Buddh University")
print(df)

Student Performance Report – Gautam Buddh University
   Student Name  Maths  Science  English  Total Marks Grade
0   Anmol Kumar     78       82       75          235     B
1  Deepak Yadav     55       60       52          167     C
2   Riya Kumari     92       85       88          265     A
3   Pooja Singh     60       70       65          195     C



---

#110) Course Feedback Analysis – Gautam Buddh University

*   At Gautam Buddh University, students give feedback on different courses after each semester.
*   The feedback is collected on a scale of 1 to 5 (1 = poor, 5 = excellent).
You are asked to:

* Find average rating per course

*  List top-rated courses

* Identify courses needing improvement (average rating below 3)

In [ ]:
import pandas as pd

# Sample feedback data from students of Gautam Buddh University
data = {
    'Student': ['Anmol Kumar', 'Deepak Yadav', 'Riya Kumari', 'Pooja Singh', 'Vikas Singh', 'Neha Sharma'],
    'Course': ['Python', 'Python', 'Data Science', 'Data Science', 'AI Ethics', 'AI Ethics'],
    'Rating': [5, 4, 3, 4, 2, 3]
}

#create DataFrame
df = pd.DataFrame(data)

# calculate average rating per course
avg_rating = df.groupby('Course')['Rating'].mean()

# Filter top-rated courses (rating >= 4)
top_courses = avg_rating[avg_rating >= 4]

# Filter low-rated courses (rating < 3)
low_courses = avg_rating[avg_rating < 3]

# Display results
print("Average Feedback Rating per Course:")
print(avg_rating)

print("\nTop Rated Courses:")
print(top_courses)

print("\nCourses Needing Improvement:")
print(low_courses)

Average Feedback Rating per Course:
Course
AI Ethics       2.5
Data Science    3.5
Python          4.5
Name: Rating, dtype: float64

Top Rated Courses:
Course
Python    4.5
Name: Rating, dtype: float64

Courses Needing Improvement:
Course
AI Ethics    2.5
Name: Rating, dtype: float64



---



---